* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", serif;
    overflow-x: hidden;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background: #353A3D;
    z-index: 1000;
    width: 100%;
    margin: 0 auto;
    padding: 0 50px;
    position: fixed;
}

#navbar-logo {
    color: white;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.5rem;
}

.navbar__menu {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin-left: auto;
}

.navbar__item {
    height: 80px;
    width: 120px;
}

.navbar__links {
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
    height: 100%;
    padding: 0 1rem;
    display: flex;
    align-items: center ;
}

.navbar__links:hover {
    color: #98B1A9;
    transition: all 0.3s ease;
}

.navbar__toggle {
    display: none;
}

@media screen and (max-width: 968px) {
    .fa-bars, .fa-brands {
        line-height: normal !important;
    }

    .navbar__toggle {
        display: block;
        position: absolute;
        right: 20px;
        top: 55%;
        transform: translateY(-50%);
        color: white;
        z-index: 10;
        font-size: 1.5rem;
        border: none;
        background: none;
        cursor: pointer;
        padding: 0;
    }

    .navbar__menu {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: fixed;
        top: 80px;
        left: -100%;
        width: 100%;
        height: calc(100% - 80px);
        opacity: 0;
        transition: all 0.5s ease;
        background: #414648;
        z-index: 10;
        margin: 0;
    }

    .navbar__menu.active {
        left: 0;
        opacity: 1;
    }

    .navbar__item {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: flex;
        justify-content: center;
        overflow: hidden;
    }

}

/* Hero Section CSS */
.hero {
    background-color: #414648;
    padding-top: 80px;
}

.hero__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 20vh;
    width: 100%;
    padding: 0 50px;
    max-width: 1300px;
}

.hero__content {
    color: white;
}


/* Recent Project Section */
.recent__pr__title__container {
    display: flex;
    height: 3.4rem;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.recent__pr__title__container h1{
    color: #414648;
    text-align: center;
    flex-grow: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.recent__pr__title__container h1::after{
    content: "";
    display: block;
    width: 80px;
    height: 3px;
    background-color: #98B1A9;
    margin: 2px auto 0;
}

.recent__pr__title__container .nav__arrows {
    color: #414648;
    font-size: 1.6rem;
    margin-left: auto;
    padding-right: 30px;
    display: flex;
    align-items: center;
    gap: 15px;
    overflow: hidden;
}

@media screen and (max-width: 768px) {
    .recent__pr__title__container h1{
        font-size: 1.2rem;
    }
    
    .recent__pr__title__container .nav__arrows {
        font-size: 1.4rem;
    }
}

.scroll__container {
    background-color: #3E4944;
    padding: 20px;
    display: flex;
    gap: 50px;
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.scroll__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 400px;
    background: white;
    border: none;
    border-radius: 10px;
    flex-shrink: 0;
    scroll-snap-align: center;
    border: 5px solid transparent;
    position: relative;
}

a.fill-div {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    overflow: hidden;
}

.scroll__item:hover {
    border: 5px solid #98B1A9;
    transition: all 0.2s ease-in-out;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scroll__container::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scroll__container {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}


.scroll__item-img {
    display: flex;
    justify-content: center;
    margin: 25px auto 10px;
    width: 250px;
    height: 150px;
    overflow: hidden;
}

.scroll__item-img img {
    max-height: 100%;
    max-width: 100%;
}
.scroll__item-title h2:after {
    content: "";
    display: block;
    width: 80px;
    height: 3px;
    background-color: #98B1A9;
    margin: 2px auto 0;
}

.scroll__item-desc {
    width: 80%;
    white-space: wrap;
    margin-top: 7px;
}



/* Test Sect CSS */
.test__sect {
    height: 40vh;
    background: #3E4944;
}

/* Footer CSS */
.footer__container {
    background-color: #353A3D;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__links {
    width: 90%;
    max-width: 1000px;
    display: flex;
    justify-content: end;
}

.footer__links a {
    text-decoration: none;
    color: white;
}

.footer__links a:hover {
    color: #98B1A9;
    transition: all 0.3s ease;
}