body {
    color: white;
    display: flex;
    justify-content: center;
    background-color: #171d29; /*#10141c*/
    font-family:'Courier New', Courier, monospace
}

#sandCanvas {
    background-color: black;
    width: 512px;
    height: 512px;
    image-rendering: pixelated;
    cursor: none;
    user-select: none;
}